body{
  font-family: sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 825px) {
  body {
    font-size: 12px;
  }
}

.drum-machine {
  max-width: 900px;
  min-width: 640px;
  overflow: scroll;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3px 0;
}

.heading {
  display: inline-block;
  margin: 0;
}

.timer {
  margin: .75rem 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.step-wrapper {
  padding: .3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.type {
  margin-right: 0.625rem;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}

.step {
  flex-shrink: 0;
  display: inline-block;
  margin: 0 2px;
  width: 2em;
  font-size: 1.25em;
  font-weight: bold;
}

.box {
  width: 1.19em;
  height: 1.5em;
  border: 1px solid black;
  font-size: 2em;
}

.highlight {
  color: red;
}

.btn {
  padding: .5rem 1.5rem;
  margin-right: .5rem;
  border: 1px solid black;
  background: transparent;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  opacity: .7;
}

.tempo-input {
  width: 3rem;
  padding: .5rem 1.5rem;
  border: 1px solid black;
  font-size: 1em;
  font-weight: bold;
}

.tempo-input[disabled] {
  opacity: .5;
  background-color: lightgrey;
}

.sequence {
  background: transparent;
  height: 2.4rem;
  margin: 0 .5rem 0 1rem;
  border: 1px solid black;
  font-size: 1em;
  font-weight: bold;
}
